public/assets/components
public/assets/images
public/assets/resources
public/connectors
public/manager
public/adminer.php
public/config.core.php
public/ht.access
public/.htaccess
public/index.php
public/core/cache
public/core/components
public/core/config
public/core/docs
public/core/error
public/core/export
public/core/import
public/core/lexicon
public/core/model
public/core/packages
public/core/xpdo
public/core/ht.access
node_modules/
*.sublime-project
*.sublime-workspace
package-lock.json
.vscode/
.idea/
.directory
composer-lock.json
.DS_Store