.innerpage_article  {
    padding-top: 160px;
}

.link-control_article {
    margin-left: 190px;
    margin-bottom: 50px;
}

.article__heading {
    display: flex;
    align-items: flex-start;
}

.pagetitle_article {
    margin-bottom: 50px;
}

.article__date {
    margin-right: 62px;
    position: relative;
    color: #e0eded;
    font-size: 119px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.44px;
    transform: translateY(-10px);
    span {
        position: absolute;
        bottom: 17px;
        left: 55%;
        color: #339999;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
    }
}

.article__content {
    padding-left: 191px;
    padding-right: 120px;
    position: relative;
}

.article__aside {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 40px;
    top: 0px;
    svg {
        transform: translateY(5px);
    }
}

.likes_aside {
    margin-bottom: 24px;
}

.article__text {
    padding-right: 86px;
    padding-left: 81px;
    position: relative;
    a {
        color: #000000;
        &:hover {
            color: #cc0000;
        }
        &:visited {
            color: #9933cc;
        }
    }
}

.article-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 57px;
    padding: 41px 0 38px;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}

.article-control__share {
    margin-right: 100px;
}

.article-control__share-text {
    color: #666666;
    font-size: 14px;
    line-height: 1.2;
}

.article-control__social {
    display: flex;
    align-items: center;
}

.likes_control {
    margin-right: 25px;
}

.link-control_control {
    margin-right: 79px;
}

.readmore__heading {
    margin-bottom: 33px;
    color: #999999;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.12px;
}

.readmore__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}